{% extends 'base.html' %}{% block content %}
<div class="columns is-multiline is-vcentered is-flex px-4">
    <div class="column is-half">
        <h1 class="has-text-white-bis is-size-1 has-text-centered is-vcentered">Log in</h1>
        <div class="has-background-black-bis has-text-white-bis px-4 is-flex is-vcentered">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %} {{ form.as_p }}
                <input type="submit" class="btn" value="login" />
                <input type="hidden" name="next" value="{{next}}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
