{% extends 'base.html' %}{% block content %}
<div class="columns is-multiline is-vcentered is-flex px-4">
    <div class="column is-half">
        <h1 class="has-text-white-bis is-size-1 has-text-centered is-vcentered">Log in</h1>
        <div class="has-background-black-bis has-text-white-bis px-4 is-flex is-vcentered">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %} {% comment %} {{ form.as_p }} {% endcomment %} {% for field in form %}
                <div class="form-group py-1">
                    <input class="input" type="{{field.field.widget.input_type}}" name="{{field.name}}" placeholder="{{ field.label }}"{% if field.value %} value="{{ field.value }}"{% endif %} class="form-control {% if field.errors %}is-invalid{% endif %}">
                </div>
                {% endfor %}
                <input type="submit" class="button is-info" value="login" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
