{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="columns is-multiline is-vcentered is-flex">
    <div class="column is-half">
        <h1 class="has-text-white is-size-2 has-text-centered is-vcentered">Sign Up</h1>
        <div class="has-background-black-bis has-text-white-bis px-4">
            <div class="">
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %} {% for field in form %}
                    <div class="form-group">
                        {% comment %} {{field.label_tag}} 
                        {{field}} {% endcomment %}
                        <input class="input" type="{{field.field.widget.input_type}}" name="{{field.name}}" placeholder="{{ field.label }}"{% if field.value %} value="{{ field.value }}"{% endif %} class="form-control {% if field.errors %}is-invalid{% endif %}">
                    </div>
                    {% endfor %} {% if form.username.errors %}
                    <div class="error has-text-danger ">
                        {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="control mt-4">
                        <input type="submit" class="button is-primary" value="Sign Up" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="has-text-white-bis has-text-centered">
            <p class="is-size-1">CSS Clips</p>
            <p>Animate your world</p>
            <p>Practice vanilla HTML + CSS</p>
        </div>
    </div>
    {% endblock content %}
</div>
