{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="columns is-multiline is-vcentered is-flex">
    <div class="column is-half">
        <h1 class="has-text-white is-size-2 has-text-centered is-vcentered">Sign Up</h1>
        <div class="has-background-black has-text-white px-4">
            <div class="">
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %} {% include './formtemplate.html' with form=form %}

                    <div class="control mt-4">
                        <input type="submit" class="button is-primary" value="Sign Up" />
                        <input type="hidden" name="next" value="{{next}}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="has-text-white has-text-centered">
            <p class="is-size-1">CSS Clips</p>
            <p>Animate your world</p>
            <p>Practice vanilla HTML + CSS</p>
        </div>
    </div>
    {% endblock content %}
</div>
