{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="card has-background-black has-text-white px-4">
    <h1 class="card-title has-text-white is-size-2">Sign Up</h1>
    <div>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %} {% for field in form.visible_fields %}
            <div class="field">
                <div class="control">
                    <label class="label has-text-white" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} {% for error in field.errors %}
                    <span class="help has-text-red has-text-weight-bold">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %} {% comment %} {{form.as_p}} {% endcomment %}
            <div class="control mt-4">
                <input type="submit" class="button is-primary" value="Sign Up" />
                <input type="hidden" name="next" value="{{next}}" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}
