{% extends 'base.html'%} {% block title %}About{% endblock %} {% block content %}
<div class="columns is-multiline is-vcentered is-flex px-4">
    <div class="column is-half">
        <div class="has-text-white-bis">
            <h2 class="is-size-2">About CSS Clips</h2>
            <p>CSS Clips is a way to search, discover, and create small clips of CSS styling and animations.</p>
            <p>Created by Corey Loftus, Jan 2023</p>
            <ul>
                <a href="https://github.com/coreyloftus/css-clips/edit/main/readme.md" target="_blank" rel="noopener noreferrer"><li>Github Repository</li></a>
                <a href="https://corey-loftus.netlify.com" target="_blank" rel="noopener noreferrer"><li>Corey's Portfolio Website</li></a>
                <a href="https://www.giphy.com" target="_blank" rel="noopener noreferrer"><li>Giphy - half of inspiration</li></a>
                <a href="https://www.codepen.com" target="_blank" rel="noopener noreferrer"><li>Codepen - the other half of the inspiration</li></a>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
