{% extends 'base.html' %} {% block title %} Clips Index {% endblock %} {% block content %}
<div class="gallery"></div>
{% for clip in clips %}
<a href="{% url 'clip_detail' clip.pk %}">
<div class="card">
    <div class="card-header">
        <p class="title is-4">{{clip.title}}</p>
    </div>
    <div class="card-content">
        <p><span class="subtitle is-5">Body: </span><pre>{{clip.body}}</pre></p>
        <p><span class="subtitle is-5">Difficulty: </span>{{clip.difficulty}}</p>
        <p><span class="subtitle is-5">Created at: </span>{{clip.created_at}}</p>
    </div>
</div>
</a>
{% empty %}
<article class="message">
    <div class="message-header is-warning">
        <p class="is-warning">No clips in index</p>
    </div>
</article>
{% endfor %} {% endblock %}
