{% extends 'base.html' %} {% block title %} Clips Index {% endblock %} {% block content %}
<div class="columns is-multiline mt-4 mx-4">
    {% for clip in clips %}
    <a href="{% url 'clip_detail' clip.pk %}">
        <div class="column">
            <div class="">
                <p class="title is-4">{{clip.title}}</p>
            </div>
            <div class="" style="">
                <div class="is-clipped" style="width: 305px; height: 305px; border: 5px ridge rgba(211, 220, 50, 0.6)">
                    {{clip.html | safe}}<style media="screen">
                        {{clip.css | safe}}
                    </style>
                </div>
            </div>
            <div class="">
                <p><span class="subtitle is-5">{{clip.title}}</span></p>
                <p>
                    <span class="subtitle is-5">by: </span><span><a href="/profile/{{clip.owner}}">{{clip.owner}}</a></span>
                </p>
                {% for tag in clip.tags.all %}
                <span>{{tag.name}}</span>
                {% endfor %}
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header is-warning">
            <p class="is-warning">No clips in index</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
