{%load static%}
{% load widget_tweaks %} 
<!DOCTYPE html>
<html lang="en" class="has-background-black">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
        {% comment %} load Bulma CSS {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {% comment %} load Font-Awesome Icons {% endcomment %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico'%}"/>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
        <script src="{%static 'scripts/main.js'%}" defer></script>
        <title>CSS Clips {%block title%}{%endblock%}</title>
    </head>
    <body>
        {% comment %} navbar {% endcomment %}
        <nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/clips">
                <img src="{% static './assets/images/css-clips-long-logo.png'%}" height="32" width="112">
              </a>
                {% comment %} HTML for Bulma's mobile navbar {% endcomment %}
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% comment %} navbar left-aligned items {% endcomment %}
                </div>
            </div>
                <div class="navbar-end">
                    {% comment %} navbar right aligned items {% endcomment %}
                    <div class="navbar-item">
                        <a class="navbar-item has-text-white is-info button" href="/about"> About </a>
                    </div>
                    {% if user.is_authenticated %}
                    {% comment %} only display if user is logged in {% endcomment %}
                    <div class="navbar-item">
                        <a class="navbar-item has-text-white is-link button" href="/clips/new"> Create Clip </a>
                    </div>
                    {% endif %}
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}
                            {% comment %} only display if user is logged in {% endcomment %}
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <a href="/profile/{{user.username}}" class="button has-text-white is-success" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>{{user.username}}</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <a href="/profile/{{user.username}}">
                                                Collection
                                            </a>
                                        </div>
                                        {% comment %} commented out until feature route is built {% endcomment %}
                                        {% comment %} <div class="dropdown-item">
                                            <a href="/profile/{{user.username}}">
                                                Favorites
                                            </a>
                                        </div> {% endcomment %}
                                        <hr class="dropdown-divider">
                                        <div class="dropdown-item">
                                            <a href="{% url 'logout' %}">
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            {% else %}
                            {% comment %} if user is not logged in, display this {% endcomment %}
                            <a class="button is-light" href="{% url 'login'%}"> Log in </a>
                            <a class="button is-primary" href="{% url 'signup'%}"> Sign Up </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mgb-4">
            {% comment %} add margin to the bottom of every element displayed {% endcomment %}
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
