{% extends 'base.html' %}{% block title %}{% endblock %} {% block content %}
<h1>Game Detail Route here for clip {{clip.title}}</h1>
<div>
    <p><span class="subtitle is-5">Body: </span><pre>{{clip.body}}</pre></p>
    <p><span class="subtitle is-5">Difficulty: </span>{{clip.difficulty}}</p>
    <p><span class="subtitle is-5">Created at: </span>{{clip.created_at}}</p>
</div>
<div style="width: 300px; height: 300px">
    {% comment %}
    <p>container div should be here</p>
    {% endcomment %}
    <div class="body" style="{{clip.body}} width:300px; height:300px;">
        <p>clip.body should style the div here</p>
    </div>
</div>
{% endblock %}
