{% extends 'base.html' %} {% block content %}
<h1 class="has-text-white-bis">Update Clip</h1>
<div class="px-4">
    <form action="" method="post" class="has-text-white-bis">
        {% csrf_token %} {{form.as_p}}
        <div class="py-4">
            {% comment %} submit button {% endcomment %}
            <input type="submit" class="button is-success" value="Submit" />
            {% comment %} cancel button redirects back to same clip's detail page {% endcomment %}
            <a class="button is-light" href="{% url 'clip_detail' clip.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
