{% extends 'base.html' %} {% block content %}
<h1 class="has-text-white-bis">Clips tagged with: <span class="is-size-3">{{name}}</span></h1>
<div class="columns is-multiline mt-4 mx-4">
    {% for clip in clip_data %}
    <a href="{% url 'clip_detail' clip.pk %}">
        <div class="column">
            <div class="">
                <p class="title is-4 has-text-white-bis">{{clip.name}}</p>
            </div>
            <div class="" style="">
                <div class="is-clipped" style="width: 300px; height: 300px; border: 10px ridge rgba(255, 255, 50, 0.95)">
                    {{clip.html | safe}}<style media="screen">
                        {{clip.css | safe}}
                    </style>
                </div>
            </div>
            <div class="">
                <p><span class="subtitle is-5 has-text-white-bis">{{clip}}</span></p>
                <p><span class="subtitle is-5 has-text-white-bis">by: </span><a href="/profile/{{clip.owner}}">{{clip.owner}}</a></p>
                {% for tag in clip.tags.all %}
                <a href="/tags/{{tag.name}}" class="tag is-dark has-text-white-bis">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header is-warning">
            <p class="is-warning">No clips founds with that tag</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
